
<body>

<div id="accountcreatedinformation">
  <p>
    The account you tried to create already exists, please return to the <a href="login.erb">homepage</a> to try to log in again.
  </p>
</div>

</body>
