<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
  <link rel="stylesheet" href="/css/swag.css" type="text/css"/>
  <meta charset="UTF-8">
  <title>Workout Helper</title>

</head>
<body>
<div class="header">
  <div class="container">
    <div class="logo">
      <h1><a href="/">Workout Helper</a></h1>
    </div>
  </div>
</div>

<div id="accountcreatedinformation">
  <p>
    The account you tried to create already exists, please return to the <a href="login.erb">homepage</a> to try to log in again.
  </p>
</div>

</body>
</html>