<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/swag.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Difficulty</title>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="logo">
          <h1><a href="/">Workout Helper</a></h1>
        </div>
    </div>
</div>
<div class="knappar">
    <h1><a href="/cardio/beginner">Beginner</a></h1>
</div>
<div class="knappar">
    <h1><a href="/cardio/intermediate">Intermediate</a></h1>
</div>
<div class="knappar">
    <h1><a href="/cardio/advanced">Advanced</a></h1>
</div>

</body>
</html>