<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/swag.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Cardio</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <h1><a href="index.html">Workout Helper</a></h1>
        </div>
    </div>
</div>
<div id="container">
    <div id="div1">
        <a href="cardio.html"><h1>Cardio</h1></a>
    </div>
    <div id="div2">
        <a href="strength.html"><h1>Strength</h1></a>
    </div>
</div>
</body>
</html>