<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/swag.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Difficulty</title>
</head>
<body>

<div class="header">
  <div class="container">
    <div class="logo">
      <h1><a href="/">Workout Helper</a></h1>
    </div>
  </div>
</div>

<% for exercise in @exercises %>
    <div class="knappar">
      <p><%=exercise.name%></p>
    </div>
<%end%>

</body>
</html>