<body>

<div id="container">
    <div id="div1">
        <a href="cardio.erb"><h1>Cardio</h1></a>
    </div>
    <div id="div2">
        <a href="strength.erb"><h1>Strength</h1></a>
    </div>
</div>

</body>
