<body>

<div class="knappar">
    <h1><a href="/workout/strength_beginner">Beginner</a></h1>
</div>
<div class="knappar">
    <h1><a href="/workout/strength_intermediate">Intermediate</a></h1>
</div>
<div class="knappar">
    <h1><a href="/workout/strength_advanced">Advanced</a></h1>
</div>

</body>