<div class="knappar">
  <h1><a href="/workout/cardio_beginner">Beginner</a></h1>
</div>
<div class="knappar">
  <h1><a href="/workout/cardio_intermediate">Intermediate</a></h1>
</div>
<div class="knappar">
  <h1><a href="/workout/cardio_advanced">Advanced</a></h1>
</div>
