<div class="knappar">
  <h1><a href="/workout/:style">Beginner</a></h1>
</div>
<div class="knappar">
  <h1><a href="/cardio/intermediate">Intermediate</a></h1>
</div>
<div class="knappar">
  <h1><a href="/cardio/advanced">Advanced</a></h1>
</div>
