<body>

<div id="exercisebuttonsholder">
  <div class="exercisebuttons">
    <p><%=@exercise.name%></p>
  </div>
</div>

<div class="startbutton">
  <% if @exercise.next %>
    <h4><a href="/workout/<%= @workout.style %>/exercise/<%= @exercise.next %>">Next</a></h4>
  <% else %>
      <h4><a href="/workout/<%= @workout.style %>/comment">Finish</a></h4>
  <% end %>
</div>

</body>