<body>

<% for exercise in @exercises %>

  <div id="exercisebuttonsholder">
    <div class="exercisebuttons">
      <p><%= exercise.name %></a></p>
    </div>
  </div>

<%end%>

<div class="startbutton">
  <h4><a href="/workout/<%= @workout.style %>/exercise/<%= @exercises[0].id %>">Start</a></h4>
</div>

</body>