<body>

<div id="container">
  <div id="holder">
    <div id="div1">
        <a href="/cardio/difficulty"><h1>Cardio</h1></a>
    </div>
    <div id="div2">
        <a href="/strength/difficulty"><h1>Strength</h1></a>
    </div>
  </div>
</div>


</body>