<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
    <link rel="stylesheet" href="/css/swag.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Workout Helper</title>


  <% if @user %>
      <span>Logged in as <%= @user.username %></span>
      <form action="/logout" method="post">
        <button type="submit">Log out</button>
      </form>
  <% else %>
      <div id="login">
        <form action="/login" method="post">
          <div id="loginbuttons">
          <input name="username" type="text" placeholder="Username"><BR>
          <input name="password" type="password" placeholder="Password">
          </div>
          <button type="submit">Log in</button>
        </form>
      </div>
  <%end%>

</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <h1><a href="/">Workout Helper</a></h1>
        </div>
    </div>
</div>
<div id="container">
    <div id="div1">
        <a href="/cardio/difficulty"><h1>Cardio</h1></a>
    </div>
    <div id="div2">
        <a href="/strength/difficulty"><h1>Strength</h1></a>
    </div>
</div>


</body>
</html>