<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/swag.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Workout Helper</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <h1><a href="index.erb">Workout Helper</a></h1>
        </div>
    </div>
</div>
<div id="container">
    <div id="div1">
        <a href="difficulty_cardio.erb"><h1>Cardio</h1></a>
    </div>
    <div id="div2">
        <a href="difficulty_strength.erb"><h1>Strength</h1></a>
    </div>
</div>

</body>
</html>