<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
  <link rel="stylesheet" href="/css/swag.css" type="text/css"/>
  <meta charset="UTF-8">
  <title>Workout Helper</title>

</head>
<body>
<div class="header">
  <div class="container">
    <div class="logo">
      <h1><a href="/">Workout Helper</a></h1>
    </div>
  </div>
</div>

<% if @user %>
    <span>Logged in as <%= @user.username %></span>
    <form action="/logout" method="post">
      <button type="submit">Log out</button>
    </form>
<% else %>
    <div id="login">
      <form action="/login" method="post">
        <div id="loginbuttons">
          <input name="username" type="text" placeholder="Username"><BR>
          <input name="password" type="password" placeholder="Password">
        </div>
        <div id="log">
          <button type="submit">Log in</button>
        </div>
      </form>
    </div>
<%end%>

<div id="information">
  <p> Workout helper etablerades 2016 som e Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum. </p>
</div>


</body>
</html>