<body>

<div class="knappar">
  <h1><a href="/strength/beginner">Beginner</a></h1>
</div>
<div class="knappar">
  <h1><a href="/strength/intermediate">Intermediate</a></h1>
</div>
<div class="knappar">
  <h1><a href="/strength/advanced">Advanced</a></h1>
</div>

</body>