<body>

<% for workout in @workouts %>
    <div class="knappar">
      <p><a href="/workout/<%= workout.style %>/<%= workout.level %>/overview/"><%= workout.name %></a></p>
    </div>
<%end%>

</body>
