html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 80px);
}

body {
    background: #101010;
    padding-top: 80px;
}

a {
    color: white;
    text-decoration: none;
}

#container{
    width: 100%;
    height: 100%;
    background-color: darkgray;
    text-align: center;
}

.header{
    background: #101010;
    width: 100%;
    top: 0;
    position: fixed;
    text-align: center;


}

#div1{

    height: 100px;
    width: 200px;
    color: white;
    background: red;
    border: 1px solid transparent;

}

#div2{

    height: 100px;
    width: 200px;
    color: white;
    background: #101010;
    border: 1px solid transparent;

}